.intro-container {
    background: rgba(178, 178, 178, 0.65);
    padding: 20px;
    border: double;
    border-width: 10px;
}

.intro-header {
    font-family: 'Xanh Mono', monospace;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.intro-text {
    text-align: justify;
}

.practice-container {
    height: 630px;
    background: rgba(178, 178, 178, 0.65);
    padding: 20px;
    margin: 10px;
    border: double;
    border-width: 10px;
}

.practice-header {
    font-family: 'Xanh Mono', monospace;
    font-size: 2.15em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.practice-text {
    text-align: justify;
}

.steps {
    line-height: 1.75em; 
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .practice-container {
        height: 910px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .practice-container {
        height: 760px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .practice-container {
        height: 1100px;
    }

    .steps {
        line-height: 1.5em;
    }
}