.nav-wrapper {
    background-color: grey;
    position: fixed;
    
}

.mindful-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .brand-logo {
    background-image: linear-gradient(to right, black,gray, black, gray, black);
    padding-top: .5in;
    border-radius: 83px;
    font-weight: bold;
  }
  
  .brand-logo:hover {
    background-image: linear-gradient(to right, black, teal, black);
    padding-top: .006in;
    
  }
  
  .login {
    padding-right: .25in;
  }

  .nav-links {
    display: flex;
  }

  @media screen and (max-width: 1000px) {
    
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
      align-items: center;
      justify-content: center;
    }

    nav {
      position: relative;
    }

    .hamburger {
      position: absolute;
      cursor: pointer;
      left: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 99;
      opacity: 1;
    }

    .nav-wrapper {
      background: black;
    }

    .nav-links {
      position: fixed;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at -90% -10%);
      -webkit-clip-path: circle(100px at -90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;

    }

    .nav-links.open { 
      background-image: url(https://get.pxhere.com/photo/sun-statue-meditate-buddhism-religion-asia-darkness-blue-rest-zen-relaxation-figure-meditation-turquoise-illustration-yoga-buddha-mirroring-believe-harmony-force-wellness-inner-calm-fern-stlich-fictional-character-gautama-buddha-889766.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      /* opacity: 1; */
      padding-top: 0.5in;
      padding-left: 0.25in;
      clip-path: circle(1200px at -90% 20%);
      -webkit-clip-path: circle(1200px at -90% 20%);
      pointer-events: all;
      z-index: 98;
    }

    .nav-links li{
      opacity: 1;
    }

    .nav-links li a {
      font-size: 25px;
    }

    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.1s;
    }

    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.3s;
    }
    
    .nav-links li:nth-child(4) {
      transition: all 0.5s ease 0.4s;
    }
  }  