.stationary {
    height: 80px;
    width: 80px;
    border: 3px solid black;
    background-color: rgb(26, 57, 150);
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
};


.expand {
    height: 10px;
    width: 10px;
    background-color: rgb(197, 53, 53);
    opacity: .15;
    display: inline-block;
    z-index: 2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: growUp 8s;
    -moz-animation: growUp 8s;
    -ms-animation: growUp 8s;
    -o-animation: growUp 8s;
};

.contract {
    height: 80px;
    width: 80px;
    background-color: rgb(197, 53, 53);
    opacity: .15;
    display: inline-block;
    z-index: 2;
    -webkit-animation: shrink 4s;
    -moz-animation: shrink 4s;
    -ms-animation: shrink 4s;
    -o-animation: shrink 4s;
};
  
@keyframes growUp {
    0%  { transform: scale(0); }
    25% { transform: scale(.25) }
    50% { transform: scale(.5) }
    100% { transform: scale(1) }
};
