.dot {
    height: 250px;
    width: 250px;
    border-radius: 200px;
    background: rgba(240, 231, 231, 0.65);
    margin: auto;
}

.dot_1 {
    animation-name:dot_1;
    animation-duration: 16s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes dot_1 {
    0% { transform: scale(0) }
    25% { transform: scale(1) }
    50% { transform: scale(1) }
    100% { transform: scale(0) }
}
