@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

/* * {
    color: black;
} */

h1 {
    color: white;
    font-family: 'Xanh Mono', monospace;
}

.jumbo-background {
    margin-top: .5in;
    background-image: url(https://c.pxhere.com/photos/27/e7/banner_header_gull_bird_fly_clouds_orange_sunset-838342.jpg!s) !important;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadein 2s;
    
    /* opacity: .5; */
}

.jumbot {
    background: aliceblue !important;
    animation: fadein 2s;
}



@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}